body {
  font-family: 'Karla', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: 'Raleway', 'Georgia', Times, Times New Roman, serif;
}

h1 {
  text-align: center;
  padding: 18px;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 1.6em;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
}

a {
  text-decoration: underline;
}

/* Styles for user information modal */
.usrInfo {
  margin: 0px 20px;
}

#getUsrInfo {
  width: 50%;
  margin: 0 auto;
  background-color: #cccccc;
  border: 1px solid gray;
  border-radius: 20px;
}

label[for=name] {
  margin: 20px 20px 1px 20px;
}

label[for=address] {
  margin: 7px 20px 1px 20px;
}

label[for=city] {
  margin: 7px 10px 1px 20px;
}

label[for=state] {
  margin: 7px 20px 1px 10px;
}

#name, #address,
label[for=name],
label[for=address] {
  width: calc(100% - 40px);
}

#city, #state,
label[for=city],
label[for=state] {
  width: calc(50% - 32px);
}

#city {
  margin-right: 10px;
}

#state {
  margin-left: 10px;
}

#getCandidates {
  display: block;
  margin: 20px auto;
}

/* ---------------------- */

#dataWrapper {
  width: 90%;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid gray;
  border-radius: 20px;
  display: none;  /* Don't display until after there's data */
}

#addressInfo {
  display: none;
  padding: 10px 20px;
}

#changeAddr {
  background-color: white;
  border: none;
  color: blue;
  text-decoration: underline;
  padding-left: 10px;
  font-size: .8em;
}

.election {
  font-weight: bold;
  background-color: #CCCCCC;
  color: #0C35CA;
  padding: 10px;
}

.election:nth-of-type(1) {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.electionName {

}

.electionDate {
  font-size: 1.25em;
  padding-top: 5px;
}

.poll {
  background-color: #ffff99;
  padding: 5px 5px 5px 10px;
}

.lbl {
  font-weight: bold;
}

.office {
  /*background-color: #ccff99;*/
  padding: 5px 5px 5px 20px;
  font-weight: bold;
}

.officeWrapper {
  border: 1px solid black;
  border-radius: 20px;
}

.candidate {
  padding-left: 30px;
}

.candidate:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.candName{
  display: inline-block;
  margin: 0px 10px;
  width: 200px;

}

.candParty {
  display: inline-block;
  margin: 0px 10px;
  width: 200px;
}

.candSocial {
  display: inline-block;
  width: 200px;

}

.candURL {
  display: inline-block;
  width: 250px;
}

.spacer { /* Must be same width as candURL */
  display: inline-block;
  width: 250px;
}

@media (max-width: 500px) {  /* Or whatever our mobile width is */
  .spacer {
    display: none;  /* Don't display width spacers on mobile */
  }
}

.smLink {
  padding: 10px;
}

/* Offscreen text for screen readers */
/* Used for "alt text" for FontAwesome icons */
.accessible {
  position: absolute !important;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}