body {
  font-family: 'Karla', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #F9F9F9;
}

h1, h2, h3 {
  font-family: 'Raleway', 'Georgia', Times, Times New Roman, serif;
}

h1 {
  text-align: center;
  padding: 18px;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 1.6em;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
}

a {
  text-decoration: underline;
}

/* Styles for user information modal */
.usrInfo {
  margin: 0px 20px;
}

#getUsrInfo {
  width: 50%;
  min-width: 375px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #cccccc;
  border: 1px solid gray;
  border-radius: 20px;
}

label[for=name] {
  margin: 20px 20px 1px 20px;
}

label[for=address] {
  margin: 7px 20px 1px 20px;
}

label[for=city] {
  margin: 7px 10px 1px 20px;
}

label[for=state] {
  margin: 7px 20px 1px 10px;
}

#name, #address,
label[for=name],
label[for=address] {
  width: calc(100% - 40px);
}

#city, #state,
label[for=city],
label[for=state] {
  width: calc(50% - 32px);
}

#city {
  margin-right: 10px;
}

#state {
  margin-left: 10px;
}

#getCandidates {
  display: block;
  margin: 20px auto;
}

/* ---------------------- */

#dataWrapper {
  width: 90%;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid gray;
  border-radius: 20px;
  display: none;  /* Don't display until after there's data */
}

#addressInfo {
  display: none;
  padding: 10px 20px;
}

#changeAddr {
  background-color: #F9F9F9;
  border: none;
  color: blue;
  text-decoration: underline;
  padding-left: 10px;
  font-size: .8em;
}

.election {
  font-weight: bold;
  background-color: #CCCCCC;
  color: #0C35CA;
  padding: 10px;
}

.election:nth-of-type(1) {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.electionName {

}

.electionDate {
  font-size: 1.25em;
  padding-top: 5px;
}

.poll {
  background-color: #ffff99;
  padding: 5px 5px 5px 10px;
}

.lbl {
  font-weight: bold;
}

.office {
  padding: 5px 5px 5px 20px;
  font-weight: bold;
  background-color: #D0D0F2;
}

.officeWrapper {
  border: 1px solid black;
  border-radius: 20px;
}

.candidate {
  padding: 10px 0px 10px 30px;
}

.candidate:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.candName {
  font-weight: bold;
  font-size: 1.25em;
}

.candName,
.candParty,
.candSocial,
.candURL,
.spacer { /* Must be same width as candURL */
  display: inline-block;
  margin: 0px 10px;
  width: calc(25% - 20px);
}

.smLink {
  padding: 10px;
}

/* Offscreen text for screen readers */
/* Used for "alt text" for FontAwesome icons */
.accessible {
  position: absolute !important;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.contributors {
  padding: 10px 0px 10px 40px;
}

.contributor {

}

.contribHeader span {
  padding-bottom: 5px;
}

.contribOrg {
  display: inline-block;
  padding: 0px 10px;
  width: calc(40% - 40px);

}

.contribTotal, .contribPACS, .contribIndivs {
  display: inline-block;
  padding: 0px 10px;
  width: 20%;
  text-align: right;
}

@media (max-width: 850px) {  /* Or whatever our too-small width is */
  #getUsrInfo {
    width: 95%;
    min-width: 275px;
    border-radius: 5px;
  }

  .spacer {
    display: none;  /* Don't display width spacers on mobile */
  }

  #dataWrapper {
    padding: 0px;
    width: 100%;
    border: none;
  }

  .election {
    text-align: center;
  }

  .candidate,
  .office {
    padding-left: 10px;
  }

  .candidate {
    text-align: center;
  }

  .contributors {
    padding-left: 0px;
  }

  .candParty, .candURL,
  .candSocial, .candName {
    display: inline-block;
    width: 100%;
    padding: 5px;
  }

  #myAddress {
    width: 100%;
    display: inline-block;
  }

  #changeAddr {
    padding: 0px;
  }

  .election:nth-of-type(1) {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  .contribOrg {
    text-align: left;
    padding-left: 0px;
  }
}